<%= form_for @task do |f| %>
  <div class="form_label_and_field">
    <%= f.label "name", {class: "label"} %>
    <%= f.text_field "name", {class: "field_small"} %><br/>
  </div>

  <div class="form_label_and_field">
    <%= f.label "due_date", {class: "label"} %>
    <%= f.text_field "due_date", {class: "field_small"} %><br/>
  </div>

  <div class="form_label_and_field">
    <%= f.label "description", {class: "label"} %>
    <%= f.text_area "description", {class: "field_large"} %><br/>
  </div>

  <div class="centered_button_container">
    <%= f.submit %>
  </div>
<% end  %>
